@(title: String)

@homepage.main(title) {
    <nav-bar item="navbarText"></nav-bar>

    <div id="home">
        <header item="headerText"></header>
    </div>
    <div id="about">
      <content-a item="content[0]"></content-a>
    </div>
    <div id="services">
      <content-b item="content[1]"></content-b>
    </div>
    <div id="contact">
      <content-a item="content[2]"></content-a>
    </div>

    <banner item="bannerText"></banner>
    <foot-bar item="footbarText"></foot-bar>
}

