@*********************************************************************************************************************
* Scripts called at end of page (dinamic HTML)                                                                       *
* @param pageId The id of the page (for switch blocks)                                                               *
**********************************************************************************************************************@
@()
<div><!-- Scripts -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Materialize and AngularJS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-sanitize.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Modules -->
  <script src="@routes.Assets.at("javascripts/homepage/homepage.js")"></script>
    <!-- Controllers -->
  <script src="@routes.Assets.at("javascripts/homepage/controllers/HomeController.js")"></script>
    <!-- Directives -->
  <script src="@routes.Assets.at("javascripts/homepage/directives/bars.js")"></script>
  <script src="@routes.Assets.at("javascripts/homepage/directives/content.js")"></script>
  <script src="@routes.Assets.at("javascripts/homepage/directives/header.js")"></script>
  <script src="@routes.Assets.at("javascripts/homepage/directives/banner.js")"></script>
</div>