@**********************************************************************************************************************
* Head of Main page (dinamic HTML)                                                                                   *
* @param title The title of the page                                                                                 *
* @param pageId The id of the page (for switch blocks)                                                               *
**********************************************************************************************************************@
@(title: String)
<base href="/">
<meta charset="UTF-8">
<meta name="description" content="">
<meta name="author" content="">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!--Icon-->
<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

<title>@title</title>

<!-- JQuery JS, loaded here, since every other Js uses it -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Bootstrap 3 CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cosmo/bootstrap.min.css" rel="stylesheet"
integrity="sha384-OiWEn8WwtH+084y4yW2YhhH6z/qTSecHZuk/eiWtnvLtU+Z8lpDsmhOKkex6YARr" crossorigin="anonymous">
<!-- Template -->
<link href="@routes.Assets.at("template/css/sb-admin.css")" rel="stylesheet">
<link href="@routes.Assets.at("template/css/plugins/morris.css")" rel="stylesheet">
<link href="@routes.Assets.at("template/css/import/angucomplete-alt.css")" rel="stylesheet">
<link href="@routes.Assets.at("template/font-awesome-4.1.0/css/font-awesome.min.css")" rel="stylesheet" type="text/css">