@(title: String)

@dashboard.main(title) {
        <!-- Navigation -->
        <nav-bar item="navbarText"></nav-bar>

        <div ui-view id="page-wrapper">

        </div>
            <!-- /#page-wrapper -->
}