@*********************************************************************************************************************
* Scripts called at end of page (dinamic HTML)                                                                       *
* @param pageId The id of the page (for switch blocks)                                                               *
**********************************************************************************************************************@
@()
<div><!-- Scripts -->
  <!-- Placed at the end of the document so the pages load faster -->
  <!-- Materialize and AngularJS -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  <script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
  integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Modules -->
  <script src="@routes.Assets.at("javascripts/dashboard/dashboard.js")"></script>
    <!-- Controllers -->
  <script src="@routes.Assets.at("javascripts/dashboard/controllers/DashController.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/controllers/HistoryController.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/controllers/InitialController.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/controllers/WeekController.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/controllers/FormController.js")"></script>
    <!-- Directives -->
  <script src="@routes.Assets.at("javascripts/dashboard/directives/autocomplete.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/directives/bars.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/directives/chart.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/directives/forms.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/directives/lists.js")"></script>
  <script src="@routes.Assets.at("javascripts/dashboard/directives/ranking.js")"></script>
    <!-- Template -->
  <script src="@routes.Assets.at("template/js/plugins/morris/raphael.min.js")"></script>
  <script src="@routes.Assets.at("template/js/plugins/morris/morris.js")"></script>
    <!-- Import -->
  <script src="@routes.Assets.at("template/js/import/dirPagination.js")"></script>
  <script src="@routes.Assets.at("template/js/import/angucomplete-alt.js")"></script>
</div>