<div class="container-fluid" ng-controller="HistoryController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-bind="labels.historyscreen"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4">
                            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i><span ng-bind="labels.graphName"></span></h3>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-sm-offset-1 col-sm-10" ng-controller="FormController">
                        <form ng-submit="processForm('historyweeks')">
                            <div class="form-group input-group">
                                <span class="input-group-addon" ng-bind="labels.compare"></span>
                                <label for="weekA" class="sr-only"></label>
                                <select id="weekA" class="form-control" name="weekA" ng-model="formData.weekA">
                                    <option ng-repeat="o in labels.options" value="{{o.value}}" ng-selected="preference.weekA == o.value">{{o.text}}</option>
                                </select>
                                <span class="input-group-addon" ng-bind="labels.with"></span>
                                <label for="weekB" class="sr-only"></label>
                                <select id="weekB" class="form-control" name="weekB" ng-model="formData.weekB">
                                    <option ng-repeat="o in labels.options" value="{{o.value}}" ng-selected="preference.weekB == o.value">{{o.text}}</option>
                                </select>
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="panel-bar-chart-graph" class="panel-body" style="text-align: center; height: 25em; width: auto">
                </div>
                <br>
                <div class="row" id="legend-label">
                </div>
                <div class="row" id="legend-period">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>