<div class="container-fluid" ng-controller="InitialController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-bind="labels.initialscreen"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span ng-bind="lasttis.timeinvested"></span></h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                            <a href="#" class="list-group-item" ng-repeat="e in lasttis.list track by $index">
                                <span class="badge" ng-bind="e.date"></span>
                                <i class="fa fa-fw fa-check"></i><span ng-bind="e.text"></span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 style="text-align: justify" ng-bind="labels.registerActivityText"> </h4>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-md center-block" data-toggle="modal" data-target="#registerModal" ui-sref=".registerActivity" ng-bind="labels.registerActivityBtn"></button>
            <br>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 style="text-align: justify" ng-bind="labels.registerTIText"> </h4>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-md center-block" data-toggle="modal" data-target="#registerModal" ui-sref=".registerTI" ng-bind="labels.registerTIBtn"></button>
            <br>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i><span ng-bind="lastactivities.recentactivity"></span></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="list-group">
                                <div class="list-group-item" dir-paginate="a in activities | itemsPerPage : activitiesPerPage" total-items="totalActivities" current-page="pagination.current">
                                    <span ng-bind="a.text"></span>
                                    <a ui-sref=".registerActivity({id: a.id})" class="badge" data-toggle="modal" data-target="#registerModal">
                                        <i class="fa fa-fw fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"
                                                     template-url="/assets/javascripts/dashboard/directives/pagination.html">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="registerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" ui-view>
            </div>
        </div>
    </div>

</div>