<div ng-controller="FormController" ng-init="init('activity')">
    <form ng-submit="processForm('activity')">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" ng-bind="modalactivity.title"></h4>
        </div>
        <div class="modal-body">
                <div class="form-group" id="name_field" ng-class="{ 'has-error' : errorName }">
                    <!--suppress XmlInvalidId -->
                    <label for="name"><span ng-bind="modalactivity.placeholderActivity"></span></label>
                    <angucomplete-alt id="name" placeholder="{{modalactivity.placeholderActivity}}"
                         pause="100" selected-object="selectedObject" local-data="modalactivity.activities" title-field="name"
                         minlength="1" input-class="form-control" match-class="highlight" override-suggestions="true"
                         initial-value="activity ? activity.name : ''" search-fields="name" search-str="formData.name">
                    </angucomplete-alt>
                </div>
                <div class="form-group" id="priority_field" ng-class="{ 'has-error' : errorName }">
                    <br>
                    <label for="priority"><span ng-bind="modalactivity.placeholderPriority"></span></label>
                    <select id="priority" class="form-control" name="priority" ng-model="formData.priority">
                        <option ng-repeat="o in modalactivity.priorities" value="{{o.id}}" ng-selected="(activity.priority == o.id)? true : o.id == 0">{{o.text}}</option>
                    </select>
                </div>
                <div ng-show="errorName">
                    <span class="label label-danger" ng-bind="errorName"></span>
                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span ng-bind="modallabels.close"></span></button>
            <button type="submit" class="btn btn-primary" ng-disabled="!formData.name"><span ng-bind="modallabels.submit"></span></button>
        </div>
    </form>
</div>