<div ng-controller="FormController" ng-init="init('ti')">
    <form ng-submit="processForm('ti')">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" ng-bind="modalti.title"></h4>
        </div>
        <div class="modal-body">
            <div class="form-group" id="name_field" ng-class="{ 'has-error' : errorName }">
                <!--suppress XmlInvalidId -->
                <label for="name"><span ng-bind="modalti.placeholderActivity"></span></label>
                <angucomplete-alt id="name" placeholder="{{modalti.placeholderActivity}}" pause="100"
                                  selected-object="selectedObject" local-data="modalti.activities" title-field="name"
                                  minlength="1" input-class="form-control" match-class="highlight" override-suggestions="true"
                                  initial-value="activity ? activity.name : ''" search-fields="name" search-str="formData.name">
                </angucomplete-alt>
            </div>
            <div class="form-group" id="time_field" ng-class="{ 'has-error' : errorName }">
                <label for="timeTI"><span ng-bind="modalti.placeholderTimeTI"></span></label>
                <input type="number" step="any" min="0.0" id="timeTI" class="form-control" placeholder="{{modalti.placeholderTimeTI}}"
                       name="timeTI" required autofocus="" ng-model="formData.timeTI">
            </div>
            <div ng-show="errorName">
                <span class="label label-danger" ng-bind="errorName"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal"><span ng-bind="modallabels.close"></span></button>
            <button type="submit" class="btn btn-primary" ng-disabled="!formData.nameActivity || !formData.timeTI"><span ng-bind="modallabels.submit"></span></button>
        </div>
    </form>
</div>