<div class="container-fluid" ng-controller="WeekController">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" ng-bind="labels.weekscreen"></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4">
                            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i><span ng-bind="labels.graphName"></span></h3>
                        </div>
                        <div class="col-xs-8 text-right">
                            <h3 class="panel-title"><span ng-bind="graph.period[0]"></span></h3>
                        </div>
                    </div>
                </div>
                <div id="panel-bar-chart-graph" class="panel-body" style="text-align: center; height: 25em; width: auto">
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-1 col-lg-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-4">
                            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i><span ng-bind="labels.rankingName"></span></h3>
                        </div>
                        <div class="col-xs-8 text-right">
                            <h3 class="panel-title"><span ng-bind="graph.period[0]"></span></h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th><span ng-bind="labels.rankingPlaceName"></span></th>
                            <th><span ng-bind="labels.rankingActivityName"></span></th>
                            <th><span ng-bind="labels.rankingTotalName"></span></th>
                            <th><span ng-bind="labels.rankingProportionName"></span></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="e in ranking.list">
                            <td ng-bind="e.place"></td>
                            <td ng-bind="e.activ"></td>
                            <td ng-bind="e.total"></td>
                            <td ng-bind="e.percentage ? e.percentage : ''"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>