<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toogle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            <span ng-bind="item.brand"></span>
        </a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <span ng-bind="item.username"></span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li ng-repeat="x in item.userbtn.before">
                    <a href ng-click="callFunc(x.url)"><i class="fa fa-fw fa-{{x.icon}}"></i><span ng-bind=" x.text"></span></a>
                </li>
                <li class="divider" ng-show="item.userbtn.divided == true"></li>
                <li ng-repeat="x in item.userbtn.after">
                    <a href ng-click="callFunc(x.url)"><i class="fa fa-fw fa-{{x.icon}}"></i><span ng-bind=" x.text"></span></a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active" ng-repeat="x in item.navbarbtn | filter: { hasChild: false }">
                <a ui-sref="{{x.url}}"><i class="fa fa-fw fa-{{x.icon}}"></i><span ng-bind="x.text"></span></a>
            </li>
            <li ng-repeat="x in item.navbarbtn | filter: { hasChild: true }">
                <a href="javascript:;" data-toggle="collapse" data-target="#{{x.url}}"><i class="fa fa-fw fa-{{x.icon}}"></i><span ng-bind="x.text"></span><i class="fa fa-fw fa-caret-down"></i></a>
                <ul ng-attr-id="{{x.url}}" class="collapse">
                    <li ng-repeat="y in x.children">
                        <a ui-sref="{{y.url}}" ng-click="" data-toggle="modal" data-target="#registerModal"><span ng-bind=" y.text"></span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
