<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 ng-bind="item.message">Connect to Start Bootstrap:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li ng-repeat="x in item.social">
                        <a ng-href="{{x.url}}" class="btn btn-default btn-lg">
                            <i class="fa fa-{{x.icon}} fa-fw"></i>
                            <span class="network-name" ng-bind="x.text"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>