<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li ng-repeat="btn in item.footbarbtn">
                        <a ng-href="{{btn.url}}" ng-bind="btn.text"></a>
                    </li>
                </ul>
                <p class="copyright text-muted small" ng-bind="item.foottext"></p>
            </div>
        </div>
    </div>
</footer>