<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 ng-bind="item.mainTitle"></h1>
                    <h3 ng-bind="item.subTitle"></h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li ng-repeat="x in item.social">
                            <a ng-href="{{x.url}}" class="btn btn-default btn-lg">
                                <i class="fa fa-{{x.icon}} fa-fw"></i>
                                <span class="network-name" ng-bind="x.text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>